<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/img/leaf.png" type="image/x-icon">
    <title>Quên Mật Khẩu</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>

<body>
<div class="login-container w-auto h-auto">
    <div class="logo d-flex justify-content-center">
        <a th:href="@{/index/shop}"><img src="/assets/img/logo.png" alt=""></a>
    </div>
    <h2>Quên Mật Khẩu</h2>
    <form id="forgotPasswordForm">
        <div class="input-group">
            <label for="emailOrPhone">Email hoặc số điện thoại</label>
            <input type="text" id="emailOrPhone" name="emailOrPhone" placeholder="Nhập email hoặc số điện thoại"
                   required>
        </div>
        <button type="button" id="sendOtpButton" class="btn-login mt-0" onclick="sendOtp()">Gửi mã OTP</button>
        <div id="otpMessage" style="display: none; color: green;">Mã OTP đã được gửi tới email đăng ký của bạn</div>
        <hr class="mb-3">
        <div class="input-group">
            <label for="otp">Mã OTP</label>
            <input type="text" id="otp" name="otp" placeholder="Nhập mã OTP" required>
        </div>
        <div class="input-group">
            <label for="newPassword">Mật khẩu mới</label>
            <input type="password" id="newPassword" name="newPassword" placeholder="Nhập mật khẩu mới" required>
        </div>
        <button type="button" id="confirmButton" class="btn-login mt-0" onclick="confirmPasswordReset()">Xác nhận
        </button>
        <div id="errorMessage" style="display: none; color: red;">Xác nhận thất bại. Vui lòng kiểm tra lại mã OTP và thử
            lại
        </div>
    </form>
    <div class="or">Hoặc</div>
    <a th:href="@{/login}" class="forgot-password">
        Quay lại đăng nhập
    </a>
    <a th:href="@{/index/register}" class="forgot-password">
        Đăng ký tài khoản mới
    </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/components/forgotPassword.js"></script>
</body>

</html>