<div th:fragment="header">
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <!-- Left side of header -->
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> info@ogani.com</li>
                                <li>Miễn phí ship cho đơn hàng trên 100.000vnđ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!-- Right side of header -->
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanish</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="login.html"><i class="fa fa-user"></i> Đăng nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tìm kiếm -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="shop.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    SẢN PHẨM
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="Giao nhanh trong vòng 2h">
                                <button type="submit" class="site-btn">TÌM KIẾM</button>
                            </form>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="details.html"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hamburger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section END -->

    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>DANH MỤC</span>
                        </div>
                        <ul class="category-menu">
                            <li class="has-submenu">
                                <a href="#" class="category-toggle">THỊT, CÁ, HẢI SẢN</a>
                                <ul class="submenu">
                                    <li><a href="product.html">Thịt heo</a></li>
                                    <li><a href="product.html">Thịt bò</a></li>
                                    <li><a href="product.html">Thịt gà, vịt, chim</a></li>
                                    <li><a href="product.html">Cá, hải sản</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#" class="category-toggle">TRỨNG, SỮA</a>
                                <ul class="submenu">
                                    <li><a href="#">Trứng gà, vịt, cút</a></li>
                                    <li><a href="#">Sữa tươi</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#" class="category-toggle">RAU, CỦ, NẤM, TRÁI CÂY</a>
                                <ul class="submenu">
                                    <li><a href="#">Rau lá</a></li>
                                    <li><a href="#">Củ, quả</a></li>
                                    <li><a href="#">Nấm các loại</a></li>
                                    <li><a href="#">Trái cây</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#" class="category-toggle">DẦU ĂN, NƯỚC CHẤM</a>
                                <ul class="submenu">
                                    <li><a href="#">Dầu ăn</a></li>
                                    <li><a href="#">Nước mắm</a></li>
                                    <li><a href="#">Gia vị các loại</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#" class="category-toggle">GẠO, BỘT, ĐỒ KHÔ</a>
                                <ul class="submenu">
                                    <li><a href="#">Gạo</a></li>
                                    <li><a href="#">Bột mì</a></li>
                                    <li><a href="#">Đồ khô</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#" class="category-toggle">BIA, NƯỚC GIẢI KHÁT</a>
                                <ul class="submenu">
                                    <li><a href="#">Bia</a></li>
                                    <li><a href="#">Nước ngọt</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#" class="category-toggle">THỰC PHẨM ĐÔNG MÁT</a>
                                <ul class="submenu">
                                    <li><a href="#">Cá viên chiên</a></li>
                                    <li><a href="#">Súc xích</a></li>
                                    <li><a href="#">Bò viên</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#" class="category-toggle">BÁNH KẸO CÁC LOẠI</a>
                                <ul class="submenu">
                                    <li><a href="#">Bánh quy</a></li>
                                    <li><a href="#">Kẹo</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#" class="category-toggle">CHĂM SÓC CÁ NHÂN</a>
                                <ul class="submenu">
                                    <li><a href="#">BVS các loại</a></li>
                                    <li><a href="#">BCS các loại</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#" class="category-toggle">VỆ SINH NHÀ CỬA</a>
                                <ul class="submenu">
                                    <li><a href="#">Nước lau sàn</a></li>
                                    <li><a href="#">Nước rửa chén</a></li>
                                    <li><a href="#">Chổi lau nhà</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__item set-bg" data-setbg="img/hero/banner.jpg"
                        style="height: 550px;margin-top: 1px;">
                        <div class="hero__text">
                            <span>TRÁI CÂY TƯƠI</span>
                            <h2>Rau củ quả <br />100% hữu cơ</h2>
                            <p>Có sẵn dịch vụ nhận và giao hàng miễn phí</p>
                            <a href="#" class="primary-btn">MUA NGAY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>