<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Green</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">

    <link rel="stylesheet" href="/assets/sass/style.css" type="text/css">
</head>

<body>
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <!-- Left side of header -->
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> info@ogani.com</li>
                            <li>Miễn phí ship cho đơn hàng trên 100.000vnđ</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <!-- Right side of header -->
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="/assets/img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Spanish</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth">
                            <a href="#"><i class="fa fa-user"></i> Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tìm kiếm -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a th:href="@{/index/shop}"><img src="/assets/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                SẢN PHẨM
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="Giao nhanh trong vòng 2h">
                            <button type="submit" class="site-btn">TÌM KIẾM</button>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a th:href="@{/index/details}"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hamburger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section END -->

<!-- Hero Section -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>DANH MỤC</span>
                    </div>
                    <ul class="category-menu">
                        <li class="has-submenu">
                            <a href="#meat-fish-menu1" class="category-toggle" data-bs-toggle="collapse" aria-expanded="false" aria-controls="meat-fish-menu1">
                                THỊT, CÁ, HẢI SẢN
                            </a>
                            <ul id="meat-fish-menu1" class="collapse list-unstyled">
                                <li><a href="#">Thịt heo</a></li>
                                <li><a href="#">Thịt bò</a></li>
                                <li><a href="#">Thịt gà, vịt, chim</a></li>
                                <li><a href="#">Cá, hải sản</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#egg-milk1" class="category-toggle" data-bs-toggle="collapse" aria-expanded="false" aria-controls="egg-milk1">
                                TRỨNG, SỮA
                            </a>
                            <ul id="egg-milk1" class="collapse list-unstyled">
                                <li><a th:href="@{/index/product}">Trứng gà, vịt, cút</a></li>
                                <li><a th:href="@{/index/product}">Sữa tươi</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#vegetable-fruit-menu1" class="category-toggle" data-bs-toggle="collapse" aria-expanded="false" aria-controls="vegetable-fruit-menu1">
                                RAU, CỦ, NẤM, TRÁI CÂY
                            </a>
                            <ul id="vegetable-fruit-menu1" class="collapse list-unstyled">
                                <li><a th:href="@{/index/product}">Rau lá</a></li>
                                <li><a th:href="@{/index/product}">Củ, quả</a></li>
                                <li><a th:href="@{/index/product}">Nấm các loại</a></li>
                                <li><a th:href="@{/index/product}">Trái cây</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#oil-sauce-menu1" class="category-toggle" data-bs-toggle="collapse" aria-expanded="false" aria-controls="oil-sauce-menu1">
                                DẦU ĂN, NƯỚC CHẤM
                            </a>
                            <ul id="oil-sauce-menu1" class="collapse list-unstyled">
                                <li><a th:href="@{/index/product}">Dầu ăn</a></li>
                                <li><a th:href="@{/index/product}">Nước mắm</a></li>
                                <li><a th:href="@{/index/product}">Gia vị các loại</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#rice-flour-dry-menu1" class="category-toggle" data-bs-toggle="collapse" aria-expanded="false" aria-controls="rice-flour-dry-menu1">
                                GẠO, BỘT, ĐỒ KHÔ
                            </a>
                            <ul id="rice-flour-dry-menu1" class="collapse list-unstyled">
                                <li><a th:href="@{/index/product}">Gạo</a></li>
                                <li><a th:href="@{/index/product}">Bột mì</a></li>
                                <li><a th:href="@{/index/product}">Đồ khô</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#beer-drink-menu1" class="category-toggle" data-bs-toggle="collapse" aria-expanded="false" aria-controls="beer-drink-menu1">
                                BIA, NƯỚC GIẢI KHÁT
                            </a>
                            <ul id="beer-drink-menu1" class="collapse list-unstyled">
                                <li><a href="#">Bia</a></li>
                                <li><a href="#">Nước ngọt</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#frozen-food-menu1" class="category-toggle" data-bs-toggle="collapse" aria-expanded="false" aria-controls="frozen-food-menu1">
                                THỰC PHẨM ĐÔNG MÁT
                            </a>
                            <ul id="frozen-food-menu1" class="collapse list-unstyled">
                                <li><a href="#">Cá viên chiên</a></li>
                                <li><a href="#">Súc xích</a></li>
                                <li><a href="#">Bò viên</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#snacks-menu1" class="category-toggle" data-bs-toggle="collapse" aria-expanded="false" aria-controls="snacks-menu1">
                                BÁNH KẸO CÁC LOẠI
                            </a>
                            <ul id="snacks-menu1" class="collapse list-unstyled">
                                <li><a th:href="@{/index/product}">Bánh quy</a></li>
                                <li><a th:href="@{/index/product}">Kẹo</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#personal-care-menu1" class="category-toggle" data-bs-toggle="collapse" aria-expanded="false" aria-controls="personal-care-menu1">
                                CHĂM SÓC CÁ NHÂN
                            </a>
                            <ul id="personal-care-menu1" class="collapse list-unstyled">
                                <li><a th:href="@{/index/product}">BVS các loại</a></li>
                                <li><a th:href="@{/index/product}">BCS các loại</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#cleaning-menu1" class="category-toggle" data-bs-toggle="collapse" aria-expanded="false" aria-controls="cleaning-menu1">
                                VỆ SINH NHÀ CỬA
                            </a>
                            <ul id="cleaning-menu1" class="collapse list-unstyled">
                                <li><a th:href="@{/index/product}">Nước lau sàn</a></li>
                                <li><a th:href="@{/index/product}">Nước rửa chén</a></li>
                                <li><a th:href="@{/index/product}">Chổi lau nhà</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__item set-bg" data-setbg="/assets/img/hero/banner.jpg"
                     style="height: 550px;margin-top: 1px;">
                    <div class="hero__text">
                        <span>TRÁI CÂY TƯƠI</span>
                        <h2>Rau củ quả <br />100% hữu cơ</h2>
                        <p>Có sẵn dịch vụ nhận và giao hàng miễn phí</p>
                        <a th:href="@{/index/product}" class="primary-btn">MUA NGAY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section END -->
<section>
<!-- Hero Section END -->

    <!-- Breadcrumb Section -->
    <section class="breadcrumb-section set-bg" data-setbg="/assets/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>GIỎ HÀNG</h2>
                        <div class="breadcrumb__option">
                            <a th:href="@{/index/shop}">GREEN</a>
                            <span>GIỎ HÀNG</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Giao hàng -->
    <div class="shipping__details">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="shipping__from">
                        <h5>Giao từ</h5>
                        <p>Green 171 Hà Đặc 171 Hà Đặc, Khu Phố 01, P. Trung Mỹ Tây, Q. 12</p>
                        <p>Nếu tồn kho có thay đổi, Green sẽ liên hệ trước khi giao hàng <a href="#"
                                class="change-link">Đổi</a></p>
                        <p>Liên hệ với chúng tôi: 19001980</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shipping__info">
                        <h5>Giao đến</h5>
                        <p>108 Lê Thị Nho, Phường Trung Mỹ Tây, Quận 12, TP. Hồ Chí Minh</p>
                        <p>Anh Khoa - 0339954005</p>
                        <p>Giao trước 15h hôm nay <a href="#" class="change-link">(Đổi giờ giao)</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BÊN TRÁI -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">SẢN PHẨM</th>
                                    <th>GIÁ</th>
                                    <th>SỐ LƯỢNG</th>
                                    <th>TỔNG</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <a th:href="@{/index/details}"><img src="/assets/img/cart/cart-1.jpg" alt=""></a>
                                        <h5>RAU CỦ QUẢ</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        55.00
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="2">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        110.000
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="/assets/img/cart/cart-2.jpg" alt="">
                                        <h5>COMBO RAU CỦ QUẢ</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        39.00
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        39.99
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="/assets/img/cart/cart-3.jpg" alt="">
                                        <h5>CHUỐI TÂY SIÊU TO</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        69.00
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        69.99
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="/assets/img/cart/cart-1.jpg" alt="">
                                        <h5>RAU CỦ QUẢ</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        55.00
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="2">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        110.000
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Bên tay phải -->
                <div class="col-lg-5">
                    <div class="checkout__order">
                        <h4>Đơn HÀNG CỦA BẠN</h4>
                        <div class="checkout__order__products">CÁC SẢN PHẨM<span>TỔNG CỘNG</span></div>
                        <ul>
                            <li>RAU CỦ QUẢ <span>110.000</span></li>
                            <li>COMBO RAU CỦ QUẢ <span>39.00</span></li>
                            <li>CHUỐI TÂY SIÊU TO <span>69.00</span></li>
                        </ul>
                        <div class="checkout__order__subtotal">TỔNG CỘNG <span>218.000</span>
                            <ul>
                                <li>PHÍ GIAO HÀNG, PHỤ PHÍ <span>30.00</span></li>
                            </ul>
                        </div>
                        <div class="checkout__order__total">PHẢI THANH TOÁN <span>500.000</span></div>
                        <button type="submit" class="site-btn">ĐẶT HÀNG</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- sản phẩm giảm giá -->
    <section>
        <div class="container">
            <div class="col-lg-12 col-md-12">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <div class="discount-buttons">
                            <h2>ƯU ĐÃI CHO ĐƠN HÀNG NÀY</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="/assets/img/product/discount/pd-1.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <h6>Thịt cừu dai giòn siêu ngon</h6>
                                        <div class="price">
                                            <span class="current-price">22.000đ</span>
                                            <span class="old-price">32.000đ</span>
                                            <span class="discount">-31%</span>
                                        </div>
                                        <a th:href="@{/index/details}" class="button-buy">MUA</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="/assets/img/product/discount/pd-2.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <h6>Thịt cừu dai giòn siêu ngon</h6>
                                        <div class="price">
                                            <span class="current-price">22.000đ</span>
                                            <span class="old-price">32.000đ</span>
                                            <span class="discount">-31%</span>
                                        </div>
                                        <a th:href="@{/index/details}" class="button-buy">MUA</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="/assets/img/product/discount/pd-3.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <h6>Thịt cừu dai giòn siêu ngon</h6>
                                        <div class="price">
                                            <span class="current-price">22.000đ</span>
                                            <span class="old-price">32.000đ</span>
                                            <span class="discount">-31%</span>
                                        </div>
                                        <a th:href="@{/index/details}" class="button-buy">MUA</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="/assets/img/product/discount/pd-4.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <h6>Thịt cừu dai giòn siêu ngon</h6>
                                        <div class="price">
                                            <span class="current-price">22.000đ</span>
                                            <span class="old-price">32.000đ</span>
                                            <span class="discount">-31%</span>
                                        </div>
                                        <a th:href="@{/index/details}" class="button-buy">MUA</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="/assets/img/product/discount/pd-5.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <h6>Thịt cừu dai giòn siêu ngon</h6>
                                        <div class="price">
                                            <span class="current-price">22.000đ</span>
                                            <span class="old-price">32.000đ</span>
                                            <span class="discount">-31%</span>
                                        </div>
                                        <a th:href="@{/index/details}" class="button-buy">MUA</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="/assets/img/product/discount/pd-6.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <h6>Thịt cừu dai giòn siêu ngon</h6>
                                        <div class="price">
                                            <span class="current-price">22.000đ</span>
                                            <span class="old-price">32.000đ</span>
                                            <span class="discount">-31%</span>
                                        </div>
                                        <a th:href="@{/index/details}" class="button-buy">MUA</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a th:href="@{/index/shop}"><img src="/assets/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: Trung Mỹ Tây Q12</li>
                            <li>Số điện thoại: 1900 1980</li>
                            <li>Email: nghiase123@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Chính sách</h6>
                        <ul>
                            <li><a href="#">Hướng dẫn mua hàng</a></li>
                            <li><a href="#">Tích điểm quà tặng</a></li>
                            <li><a href="#">Hóa đơn điện tử</a></li>
                            <li><a href="#">Mua Phiếu mua hàng</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Quy chế web</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Chính sách khách hàng</a></li>
                            <li><a href="#">Chính sách giao hàng</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                            <li><a href="#">Trả góp, điện nước</a></li>
                            <li><a href="#">Đăng ký chào hàng</a></li>
                            <li><a href="#">Cảnh báo giả mạo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>THAM GIA BẢNG TIM CỦA CHÚNG TÔI NGAY BÂY GIỜ</h6>
                        <p>Nhận thông tin cập nhật qua Email về của hàng</p>
                        <form action="#">
                            <input type="text" placeholder="Nhập mail của bạn">
                            <button type="submit" class="site-btn">Đăng ký</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section END -->

    <!-- JS Plugins -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/jquery.slicknav.js"></script>
    <script src="/assets/js/mixitup.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>