<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/assets/img/leaf.png" type="image/x-icon">
    <title>Green</title>
    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">
<!--    custom css-->
    <link rel="stylesheet" href="/assets/sass/style.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/components/common.css" type="text/css">
    <script src="/assets/js/lib/bootstrap.bundle.min.js"></script>
</head>

<body>
<header th:replace="~{giaodien/commonFragment :: navbar}">
</header>

<main class="main-content">
    <section class="hero">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-2 d-md-block d-none fixed-sidebar" th:replace="~{giaodien/commonFragment :: sidebar}">
                </div>
                <div class="col-lg-9 col-md-10 col-sm-12 d-flex flex-column content-area">
                    <div class="hero__item set-bg" data-setbg="/assets/img/hero/banner.jpg">
                        <div class="hero__text">
                            <span>TRÁI CÂY TƯƠI</span>
                            <h2>Rau củ quả <br/>100% hữu cơ</h2>
                            <p>Có sẵn dịch vụ nhận và giao hàng miễn phí</p>
                            <a th:href="@{/index/product}" class="primary-btn">MUA NGAY</a>
                        </div>
                    </div>
                    <div class="blog-details-hero set-bg" data-setbg="/assets/img/blog/details/details-hero.jpg">
                        <div class="blog__details__hero__text">
                            <h2>THỜI GIAN VÀNG SĂN SALE, SĂN NGAY HÔM NAY NHẬN NHỮNG ƯU ĐÃI HẤP DẪN</h2>
                            <ul>
                                <li>12H ĐẾN 13H</li>
                                <li>18H ĐẾN 19H</li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <div class="discount-buttons">
                                <h2>Khuyến Mãi Sốc</h2>
                                <button class="flash-sale-btn">
                                    Flash Sale <span id="flash-sale-timer">01:06:20</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel" id="top-sale-products">
                                <!-- Product items will be loaded here -->
                            </div>
                        </div>
                    </div>
                    <section class="breadcrumb-section set-bg" data-setbg="/assets/img/ca-hai-san-baner.jpg"
                             style="height: 150px;">
                    </section>
                    <!-- sản phẩm -->
                    <div class="filter__item">
                        <div class="category-title-wrapper">
                            <div class="category-line"></div>
                            <div class="category-title text-center">
                                <h2 id="category-1">THỊT , CÁ , HẢI SẢN</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel" id="products-category-1">
                            <!-- Product items will be loaded here -->
                        </div>
                    </div>
                    <section class="breadcrumb-section set-bg" data-setbg="/assets/img/traicay.jpg"
                             style="height: 150px;">
                    </section>
                    <!-- đây -->
                    <div class="filter__item">
                        <div class="category-title-wrapper">
                            <div class="category-line"></div>
                            <div class="category-title text-center">
                                <h2 id="category-3">THỊT , CÁ , HẢI SẢN</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel" id="products-category-3">
                            <!-- Product items will be loaded here -->
                        </div>
                    </div>
                    <footer class="footer" th:replace="~{giaodien/commonFragment :: footer}"></footer>
                </div>
            </div>
        </div>
    </section>
</main>

<section>
    <div th:replace="~{giaodien/commonFragment :: #changePasswordModal}"></div>
    <div th:replace="~{giaodien/commonFragment :: #profileModal}"></div>
</section>

<th:block th:insert="~{/giaodien/commonFragment :: commonJS}"></th:block>
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/jquery.slicknav.js"></script>
<script src="/assets/js/mixitup.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/components/category.js"></script>
<script src="/assets/js/components/auth.js"></script>
<script src="/assets/js/components/product.js"></script>
<script src="/assets/js/components/category.js"></script>
<script src="/assets/js/components/cart.js"></script>
<script src="/assets/js/components/modalHandling.js"></script>
<script>
    window.onload = () => {
        loadTop10Products('top-sale-products', '/api/products/top10-by-giamgia');
        setCategoryName('category-1', 1);
        loadTop10Products('products-category-1', '/api/products/top10-by-category', {categoryID: 1});
        setCategoryName('category-3', 3);
        loadTop10Products('products-category-3', '/api/products/top10-by-category', {categoryID: 3});
        startCountdown();
    }
</script>
</body>

</html>