<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Quản lý Nhân sự</title>
    <th:block th:insert="~{/admin/common/head :: head}"></th:block>
</head>

<body>

<div id="wrapper">
    <nav th:replace="~{admin/commonFragment :: navbar}"></nav>
    <div th:replace="~{admin/commonFragment :: sidebar}"></div>
    <div id="page-wrapper" layout:fragment="admin">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Danh sách chức vụ</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12 text-right">
                    <button type="button" data-toggle="modal" data-target="#addUserModal"
                            class="btn btn-sm btn-success">Thêm mới
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên người dùng</th>
                                    <th>Vai trò</th>
                                    <th>Email</th>
                                    <th>Điện thoại</th>
                                    <th>Địa chỉ</th>
                                    <th>Thành phố</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.userID}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.role.roleName}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.phone}"></td>
                                    <td th:text="${user.address}"></td>
                                    <td th:text="${user.city}"></td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-primary btn-edit-user"
                                                th:data-id="${user.userID}">Sửa
                                        </button>
                                        <button type="button" class="btn btn-sm btn-danger btn-delete-user" th:data-id="${user.userID}">Xóa</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center"> 2018 &copy; myclass.com</footer>
    </div>
</div>

<div th:replace="~{admin/commonFragment :: #addUserModal}"></div>
<div th:replace="~{admin/commonFragment :: #updateUserModal}"></div>


<th:block th:insert="~{/admin/common/importJS :: commonJS}"></th:block>
<script src="/assets-admin/script/ChucVuJS.js"></script>
</body>

</html>