<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head><title>common</title></head>
<body>
<nav th:fragment="navbar" class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="/assets-admin/javascript:void(0)"
           data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-bars"></i>
        </a>
        <div class="top-left-part">
            <a class="logo" th:href="@{/Admin/trangchu}">
                <b>
                    <img src="/assets-admin/plugins/images/logo.png" alt="home"
                         style="margin-left: 50px;width: 90px"/>
                </b>
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-left m-l-20 hidden-xs">
            <li>
                <form role="search" class="app-search hidden-xs">
                    <input type="text" placeholder="Search..." class="form-control">
                    <a href="/assets-admin/">
                        <i class="fa fa-search"></i>
                    </a>
                </form>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li>
                <div class="dropdown">
                    <div class="profile-pic dropdown-toggle" data-toggle="dropdown">
                        <img src="/assets-admin/plugins/images/users/varun.jpg" alt="user-img" width="36"
                             class="img-circle"/>
                        <b class="hidden-xs username">Cybersoft</b>
                    </div>
                    <ul class="dropdown-menu">
                        <li class="dropdown-li" data-bs-toggle="modal" data-bs-target="#profileModal">Thông tin cá nhân</li>
                        <li class="dropdown-li" data-bs-toggle="modal" data-bs-target="#changePasswordModal">Đổi mật khẩu</li>
                        <li class="divider"></li>
                        <li class="dropdown-li" onclick="logout()">Đăng xuất</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div th:fragment="sidebar" class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
            <li style="padding: 10px 0 0;">
                <a th:href="@{/Admin/trangchu}" class="waves-effect"><i class="fa fa-user fa-fw"
                                                                        aria-hidden="true"></i><span
                        class="hide-menu">Trang Chủ</span></a>
            </li>
            <li>
                <a th:href="@{/sanpham/products}" class="waves-effect"><i class="fa fa-user fa-fw"
                                                                          aria-hidden="true"></i><span
                        class="hide-menu">Sản Phẩm</span></a>
            </li>
            <li>
                <a th:href="@{/customer/list}" class="waves-effect"><i class="fa fa-user fa-fw"
                                                                       aria-hidden="true"></i><span
                        class="hide-menu">Khách Hành</span></a>
            </li>
            <li>
                <a th:href="@{/user/list}" class="waves-effect"><i class="fa fa-modx fa-fw"
                                                                   aria-hidden="true"></i><span class="hide-menu">Chức Vụ</span></a>
            </li>
            <li>
                <a th:href="@{/order/list}" class="waves-effect"><i class="fa fa-table fa-fw"
                                                                    aria-hidden="true"></i><span class="hide-menu">Đơn Hàng</span></a>
            </li>
            <li>
                <a th:href="@{/attendance/list}" class="waves-effect"><i class="fa fa-table fa-fw"
                                                                         aria-hidden="true"></i><span
                        class="hide-menu">Chấm Luong</span></a>
            </li>
            <li>
                <a th:href="@{/import/list}" class="waves-effect"><i class="fa fa-table fa-fw"
                                                                     aria-hidden="true"></i><span class="hide-menu">Nhập hàng</span></a>
            </li>
        </ul>
    </div>
</div>

<div th:fragment="addProductModal" aria-labelledby="myModalLabel" class="modal" id="modalAddProduct" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Thêm Sản Phẩm Mới</h4>
            </div>
            <div class="modal-body">
                <div class="white-box">
                    <form class="form-horizontal form-material" enctype="multipart/form-data" method="post"
                          id="productForm">
                        <div class="form-group">
                            <label class="col-md-12">Tên sản phẩm</label>
                            <div class="col-md-12">
                                <input class="form-control form-control-line" name="name"
                                       placeholder="Tên sản phẩm" required type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Giá niêm yết</label>
                            <div class="col-md-12">
                                <input class="form-control form-control-line" name="giacu"
                                       placeholder="Giá niêm yết" required type="number" min="0"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Giảm (%)</label>
                            <div class="col-md-12">
                                <input class="form-control form-control-line" name="giamgia"
                                       placeholder="Giảm (%)" required type="number" min="0" max="100"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Số lượng</label>
                            <div class="col-md-12">
                                <input class="form-control form-control-line" name="quantity"
                                       placeholder="Số lượng" required type="number" min="0"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Danh mục</label>
                            <div class="col-md-12">
                                <select class="form-control form-control-line categorySelect" name="category" required
                                >
                                    <!-- Options will be populated by jQuery -->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Mô tả</label>
                            <div class="col-md-12">
                                    <textarea class="form-control form-control-line" name="description"
                                              placeholder="Mô tả" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Ảnh chính</label>
                            <div class="col-md-12">
                                <input class="form-control form-control-line" name="mainImage" required
                                       type="file" accept="image/*"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Ảnh phụ</label>
                            <div class="col-md-12">
                                <input class="form-control form-control-line" name="additionalImages"
                                       multiple type="file" accept="image/*"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-success" type="submit">Thêm</button>
                                <button class="btn btn-default" data-dismiss="modal" type="button">Đóng
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="updateProductModal" aria-labelledby="labelModalUpdate" class="modal" id="modalUpdateProduct" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal-update" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="labelModalUpdate">Cập Nhật Sản Phẩm</h4>
            </div>
            <div class="modal-body">
                <div class="white-box">
                    <form class="form-horizontal form-material" enctype="multipart/form-data" method="post"
                          id="updateProductForm">
                        <!-- Form fields similar to insert form -->
                        <!-- Add hidden input for product ID -->
                        <input type="hidden" name="productID" id="updateProductID">
                        <!-- Other form fields similar to insert form -->
                        <div class="form-group">
                            <label class="col-md-12">Tên sản phẩm</label>
                            <div class="col-md-12">
                                <input class="form-control form-control-line" name="name" id="updateName"
                                       placeholder="Tên sản phẩm" required type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Giá niêm yết</label>
                            <div class="col-md-12">
                                <input class="form-control form-control-line" name="giacu" id="updateGiacu"
                                       placeholder="Giá niêm yết" required type="number" min="0"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Giảm (%)</label>
                            <div class="col-md-12">
                                <input class="form-control form-control-line" name="giamgia" id="updateGiamgia"
                                       placeholder="Giảm (%)" required type="number" min="0" max="100"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Số lượng</label>
                            <div class="col-md-12">
                                <input class="form-control form-control-line" name="quantity" id="updateQuantity"
                                       placeholder="Số lượng" required type="number" min="0"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Danh mục</label>
                            <div class="col-md-12">
                                <select class="form-control form-control-line categorySelect" name="category"
                                        required>
                                    <!-- Options will be populated by jQuery -->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Mô tả</label>
                            <div class="col-md-12">
                                    <textarea class="form-control form-control-line" name="description"
                                              id="updateDescription" placeholder="Mô tả" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Ảnh chính</label>
                            <div class="col-md-12">
                                <input class="form-control form-control-line" name="mainImage" id="updateMainImage"
                                       type="file" accept="image/*"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Ảnh phụ</label>
                            <div class="col-md-12">
                                <input class="form-control form-control-line" name="additionalImages"
                                       id="updateAdditionalImages" multiple type="file" accept="image/*"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-success" type="submit">Cập Nhật</button>
                                <button class="btn btn-default" data-dismiss="modal-update" type="button">Đóng
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Profile Information Modal -->
<div class="modal" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true"
     th:fragment="profileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileModalLabel">Thông tin cá nhân</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="profileForm">
                    <div class="mb-3">
                        <label for="phone" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="phone" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Tên người dùng</label>
                        <input type="text" class="form-control" id="username" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" id="address" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="city" class="form-label">Thành phố</label>
                        <input type="text" class="form-control" id="city" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="editButton" onclick="toggleEdit()">Chỉnh sửa
                </button>
                <button type="button" class="btn btn-primary" id="saveButton" onclick="saveChanges()" disabled>Lưu thay
                    đổi
                </button>
                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                        data-bs-target="#changePasswordModal">Đổi mật khẩu
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Change Password Modal -->
<div class="modal" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel"
     aria-hidden="true" th:fragment="changePasswordModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Đổi mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="changePasswordForm">
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Mật khẩu hiện tại</label>
                        <input type="password" class="form-control" id="currentPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Mật khẩu mới</label>
                        <input type="password" class="form-control" id="newPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
                        <input type="password" class="form-control" id="confirmPassword" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmButton" onclick="changePassword()">Xác nhận
                </button>
            </div>
        </div>
    </div>
</div>

<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 d-lg-block d-none">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="/index/shop"><img src="/assets/img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Địa chỉ: P.Trung Mỹ Tây, Q.12, TP.HCM</li>
                        <li>Số điện thoại: 1900 1980</li>
                        <li>Email: nghiase123@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="footer__widget">
                    <h6>THAM GIA BẢNG TIM CỦA CHÚNG TÔI NGAY BÂY GIỜ</h6>
                    <p>Nhận thông tin cập nhật qua Email về của hàng</p>
                    <form action="#">
                        <input type="text" placeholder="Nhập mail của bạn">
                        <button type="submit" class="site-btn">Đăng ký</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>