<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head><title>common</title></head>
<body>


<nav th:fragment="navbar" class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="/assets-admin/javascript:void(0)"
           data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-bars"></i>
        </a>
        <div class="top-left-part">
            <a class="logo" th:href="@{/Admin/trangchu}">
                <b>
                    <img src="/assets-admin/plugins/images/logo.png" alt="home"
                         style="margin-left: 50px;width: 90px"/>
                </b>
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-left m-l-20 hidden-xs">
            <li>
                <form role="search" class="app-search hidden-xs">
                    <input type="text" placeholder="Search..." class="form-control">
                    <a href="/assets-admin/">
                        <i class="fa fa-search"></i>
                    </a>
                </form>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li>
                <div class="dropdown">
                    <div class="profile-pic dropdown-toggle" data-toggle="dropdown">
                        <img src="/assets-admin/plugins/images/users/varun.jpg" alt="user-img" width="36"
                             class="img-circle"/>
                        <b class="hidden-xs username">Cybersoft</b>
                    </div>
                    <ul class="dropdown-menu">
                        <li class="dropdown-li" data-bs-toggle="modal" data-bs-target="#profileModal">Thông tin cá nhân</li>
                        <li class="dropdown-li" data-bs-toggle="modal" data-bs-target="#changePasswordModal">Đổi mật khẩu</li>
                        <li class="divider"></li>
                        <li class="dropdown-li" onclick="logout()">Đăng xuất</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 d-none d-md-flex justify-content-end align-items-center">
                    <div class="header__logo">
                        <a th:href="@{/index/shop}"><img src="/assets/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <nav class="header__menu d-flex justify-content-center align-items-center">
                        <div class="hero__search__form">
                            <form onsubmit="event.preventDefault(); searchProducts();">
                                <div class="hero__search__categories">
                                    Sản phẩm
                                </div>
                                <input id="search-input" type="text" placeholder="Giao nhanh trong vòng 2h">
                                <button type="submit" class="site-btn" onclick="searchProducts()">Tìm kiếm</button>
                            </form>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-2 col-md-3 d-none d-md-flex flex-row align-items-center justify-content-start gap-3">
                    <div class="header__cart">
                        <ul>
                            <li><a th:href="@{/index/order}"><i class="fa fa-shopping-bag"></i> <span>0</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__top__right__auth">
                        <div class="btn-group">
                            <button type="button" class="btn dropdown-toggle"
                                    data-bs-display="static" aria-expanded="true" onclick="toggleDropdown(this)"
                            >
                                <!--                                    onblur="removeDropdownShow(this)"-->
                                <i class="fa fa-user"></i> <span class="username"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" data-bs-popper="static">
                                <li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profileModal">
                                    Xem thông tin cá nhân
                                </li>
                                <li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                                    Đổi mật khẩu
                                </li>
                                <li class="dropdown-item" onclick="logout()">Đăng xuất</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Profile Information Modal -->
<div class="modal" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true"
     th:fragment="profileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileModalLabel">Thông tin cá nhân</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="profileForm">
                    <div class="mb-3">
                        <label for="phone" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="phone" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Tên người dùng</label>
                        <input type="text" class="form-control" id="username" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" id="address" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="city" class="form-label">Thành phố</label>
                        <input type="text" class="form-control" id="city" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="editButton" onclick="toggleEdit()">Chỉnh sửa
                </button>
                <button type="button" class="btn btn-primary" id="saveButton" onclick="saveChanges()" disabled>Lưu thay
                    đổi
                </button>
                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                        data-bs-target="#changePasswordModal">Đổi mật khẩu
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Change Password Modal -->
<div class="modal" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel"
     aria-hidden="true" th:fragment="changePasswordModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Đổi mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="changePasswordForm">
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Mật khẩu hiện tại</label>
                        <input type="password" class="form-control" id="currentPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Mật khẩu mới</label>
                        <input type="password" class="form-control" id="newPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
                        <input type="password" class="form-control" id="confirmPassword" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmButton" onclick="changePassword()">Xác nhận
                </button>
            </div>
        </div>
    </div>
</div>

<div class="navbar-default sidebar" role="navigation" th:fragment="sidebar">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
            <li style="padding: 10px 0 0;">
                <a th:href="@{/Admin/trangchu}" class="waves-effect"><i class="fa fa-user fa-fw"
                                                                        aria-hidden="true"></i><span
                        class="hide-menu">Trang Chủ</span></a>
            </li>
            <li>
                <a th:href="@{/sanpham/products}" class="waves-effect"><i class="fa fa-user fa-fw"
                                                                          aria-hidden="true"></i><span
                        class="hide-menu">Sản Phẩm</span></a>
            </li>
            <li>
                <a th:href="@{/customer/list}" class="waves-effect"><i class="fa fa-user fa-fw"
                                                                       aria-hidden="true"></i><span
                        class="hide-menu">Khách Hành</span></a>
            </li>
            <li>
                <a th:href="@{/user/list}" class="waves-effect"><i class="fa fa-modx fa-fw"
                                                                   aria-hidden="true"></i><span class="hide-menu">Chức Vụ</span></a>
            </li>
            <li>
                <a th:href="@{/order/list}" class="waves-effect"><i class="fa fa-table fa-fw"
                                                                    aria-hidden="true"></i><span class="hide-menu">Đơn Hàng</span></a>
            </li>
            <li>
                <a th:href="@{/attendance/list}" class="waves-effect"><i class="fa fa-table fa-fw"
                                                                         aria-hidden="true"></i><span
                        class="hide-menu">Chấm Luong</span></a>
            </li>
            <li>
                <a th:href="@{/import/list}" class="waves-effect"><i class="fa fa-table fa-fw"
                                                                     aria-hidden="true"></i><span class="hide-menu">Nhập hàng</span></a>
            </li>
        </ul>
    </div>
</div>

<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 d-lg-block d-none">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="/index/shop"><img src="/assets/img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Địa chỉ: P.Trung Mỹ Tây, Q.12, TP.HCM</li>
                        <li>Số điện thoại: 1900 1980</li>
                        <li>Email: nghiase123@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="footer__widget">
                    <h6>THAM GIA BẢNG TIM CỦA CHÚNG TÔI NGAY BÂY GIỜ</h6>
                    <p>Nhận thông tin cập nhật qua Email về của hàng</p>
                    <form action="#">
                        <input type="text" placeholder="Nhập mail của bạn">
                        <button type="submit" class="site-btn">Đăng ký</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>