<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Trang quản trị Green</title>
    <th:block th:insert="~{/admin/common/head :: head}"></th:block>
</head>

<body>

<div id="wrapper">
    <nav th:replace="~{admin/commonFragment :: navbar}"></nav>
    <div th:replace="~{admin/commonFragment :: sidebar}"></div>

    <div id="page-wrapper" layout:fragment="admin">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Thống kê</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="white-box">
                    <div class="col-in row">
                        <div class="col-md-6 col-sm-6 col-xs-6"><i data-icon="E"
                                                                   class="linea-icon linea-basic"></i>
                            <h5 class="text-muted vb">TỔNG SẢN PHẨM</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3 class="counter text-right m-t-15 text-danger">23</h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 50%"> <span
                                        class="sr-only">50% Complete (success)</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="white-box">
                    <div class="col-in row">
                        <div class="col-md-6 col-sm-6 col-xs-6"><i class="linea-icon linea-basic"
                                                                   data-icon="&#xe01b;"></i>
                            <h5 class="text-muted vb">TỔNG KHÁCH HÀNG</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3 class="counter text-right m-t-15 text-megna">169</h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="50"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 50%"> <span
                                        class="sr-only">50% Complete (success)</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="white-box">
                    <div class="col-in row">
                        <div class="col-md-6 col-sm-6 col-xs-6"><i class="linea-icon linea-basic"
                                                                   data-icon="&#xe00b;"></i>
                            <h5 class="text-muted vb">TỔNG NHÂN SỰ</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3 class="counter text-right m-t-15 text-primary">157</h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 50%"> <span
                                        class="sr-only">50% Complete (success)</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title">Thống kê Tài chính</h3>
                    <ul class="list-inline text-right">
                        <li>
                            <h5><i class="fa fa-circle m-r-5" style="color: rgba(203,174,174,0.95);"></i>Tổng thu đơn hàng</h5>
                        </li>
                        <li>
                            <h5><i class="fa fa-circle m-r-5" style="color: rgba(180,203,174,0.95);"></i>Phí nhân sự</h5>
                        </li>
                        <li>
                            <h5><i class="fa fa-circle m-r-5" style="color: rgba(174,191,203,0.95);"></i>Phí nhập hàng</h5>
                        </li>
                    </ul>
                    <div id="morris-area-chart2" style="height: 370px;"></div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer text-center">Green</footer>
</div>

<section>
    <div th:replace="~{admin/commonFragment :: #changePasswordModal}"></div>
    <div th:replace="~{admin/commonFragment :: #profileModal}"></div>
</section>


<th:block th:insert="~{/admin/common/importJS :: importJS}"></th:block>
<!-- Custom Admin page JavaScript -->
<script src="/assets-admin/js/custom.min.js"></script>
<script src="/assets-admin/js/dashboard1.js"></script>
<script src="/assets-admin/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
<!--    <script src="/assets-admin/js/jquery.dataTables.js"></script>-->
<!--Custom JS-->
<script src="/assets/js/components/auth.js"></script>
<script src="/assets-admin/js/components/profileHandling.js"></script>
</body>

</html>