<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Quản lý Đơn hàng</title>
    <th:block th:insert="~{/admin/common/head :: head}"></th:block>
</head>

<body>

<div id="wrapper">
    <nav th:replace="~{admin/commonFragment :: navbar}"></nav>
    <div th:replace="~{admin/commonFragment :: sidebar}"></div>
    <div id="page-wrapper" layout:fragment="admin">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Đơn hàng</h4>
                </div>
            </div>
            <!-- /.row -->
            <!-- .row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="orderTable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Ngày đặt hàng</th>
                                    <th>Tổng tiền</th>
                                    <th>Người mua</th>
                                    <th>Địa chỉ</th>
                                    <th>Trạng thái</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Orders will be populated here by JavaScript -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center"> Green</footer>
    </div>
</div>

<section>
    <div th:replace="~{admin/commonFragment :: #changePasswordModal}"></div>
    <div th:replace="~{admin/commonFragment :: #profileModal}"></div>
</section>

<div th:replace="~{admin/commonFragment :: #orderDetailsModal}"></div>

<th:block th:insert="~{/admin/common/importJS :: commonJS}"></th:block>
<script src="/assets-admin/js/components/order.js"></script>
</body>

</html>