
.fixed-sidebar {
    z-index: 1000;
    height: auto!important;
}
.category-menu {
    display: none;
    max-height: calc(-11rem + 100vh) !important;
}
.content-area {
    padding-top: 4.5rem!important;
    margin-left: 0!important;
}