<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/templates/giaodien/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/templates/giaodien/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/templates/giaodien/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/templates/giaodien/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/templates/giaodien/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/templates/giaodien/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/templates/giaodien/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/sass/style.css" type="text/css">
</head>

<body>
    <div th:fragment="footer">
        <footer class="footer spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__about__logo">
                                <a href="./index.html"><img src="img/logo.png" alt=""></a>
                            </div>
                            <ul>
                                <li>Địa chỉ: Trung Mỹ Tây Q12</li>
                                <li>Số điện thoại: 1900 1980</li>
                                <li>Email: nghiase123@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                        <div class="footer__widget">
                            <h6>Chính sách</h6>
                            <ul>
                                <li><a href="#">Hướng dẫn mua hàng</a></li>
                                <li><a href="#">Tích điểm quà tặng</a></li>
                                <li><a href="#">Hóa đơn điện tử</a></li>
                                <li><a href="#">Mua Phiếu mua hàng</a></li>
                                <li><a href="#">Liên hệ</a></li>
                                <li><a href="#">Quy chế web</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Chính sách khách hàng</a></li>
                                <li><a href="#">Chính sách giao hàng</a></li>
                                <li><a href="#">Chính sách đổi trả</a></li>
                                <li><a href="#">Trả góp, điện nước</a></li>
                                <li><a href="#">Đăng ký chào hàng</a></li>
                                <li><a href="#">Cảnh báo giả mạo</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__widget">
                            <h6>THAM GIA BẢNG TIM CỦA CHÚNG TÔI NGAY BÂY GIỜ</h6>
                            <p>Nhận thông tin cập nhật qua Email về của hàng</p>
                            <form action="#">
                                <input type="text" placeholder="Nhập mail của bạn">
                                <button type="submit" class="site-btn">Đăng ký</button>
                            </form>
                            <div class="footer__widget__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>

    <script src="js/main.js"></script>
    <script>
        // Bắt sự kiện click vào hình ảnh
        document.getElementById("productImage").addEventListener("click", function () {
            window.location.href = "shop-details.html";  // Chuyển hướng đến trang mới
        });
    </script>
</body>

</html>