<div th:fragment="importJS">
    <!-- Menu Plugin JavaScript -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets-admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/assets-admin/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/assets-admin/js/waves.js"></script>
    <!--Counter js -->
    <script src="/assets-admin/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="/assets-admin/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!--Morris JavaScript -->
    <script src="/assets-admin/plugins/bower_components/raphael/raphael-min.js"></script>
    <script src="/assets-admin/plugins/bower_components/morrisjs/morris.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/lib/bootstrap.bundle.min.js"></script>
</div>
<th:block th:fragment="commonJS">
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/lib/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/lib/sweetalert2.js"></script>
    <script src="/assets-admin/js/components/utils.js"></script>
    <script src="/assets/js/components/auth.js"></script>
    <script src="/assets-admin/js/components/profileHandling.js"></script>
</th:block>